body {
    background-color: bisque;
}


.project_heading {
    font-family:cursive;
    font-size: 5rem; 
    display: flex; 
    justify-content: center;
    align-items: flex-start;
}

.project_info {
    font-family: cursive;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


