@keyframes flash {
    0% { background-color: red;}
    10% {background-color: yellow;}
    20% {background-color: green;}
    30% {background-color: blue;}
    40% {background-color: purple;}
    50% {background-color: pink;}
    60% {background-color: orange;}
    70% {background-color: brown;}
    80% {background-color: black;}
    90% {background-color: white;}
    100% {background-color: indianred;}
}

@keyframes background-colours {
    0% {background-color: green;}
    10% {background-color: orange;}
    20% {background-color: red;}
    30% {background-color: blue;}
    40% {background-color: purple;}
    50% {background-color: pink;}
    60% {background-color: orange;}
    70% {background-color: brown;}
    80% {background-color: black;}
    90% {background-color: white;}
    100% {background-color: indianred;}
}

.body_main {
    animation: background-colours 0.25s infinite;
}

.top_section {
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: 1% 1%;
    animation: flash 0.25s infinite;
    
}

@keyframes moveSideToSide {
    0% { transform: translateX(0) scale(1.1) rotate(0deg); }
    50% { transform: translateX(950px) scale(0.7) rotate(180deg); } 
    100% { transform: translateX(0) scale(1.1) rotate(360); }

}
  

.wonder_box{
    background-color: yellow;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: 1% 1%;
    animation: moveSideToSide 1s infinite, flash 1s infinite;
}

.button_location {
    position: absolute;
    top: 5%;
    left: 95%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: transparent;
}


.no-animation * {
    transition: none !important;
    animation: none !important;
}

.make_bigger * {
    font-size: 20px !important;
}

.body_chichen {
    background-color: white;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    color: white; 
}

.chichen_main {
    color: green; 
    background-color: purple; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: 1% 1%;
    animation: flash 8s infinite;

}

@keyframes chichen_animation {
    0% { transform: scale(0.5); }
    100% { transform: scale(1.0); }
}

.chichen_image {
    animation: chichen_animation 0.1s infinite;
}

.china_body {
    background-color: black;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    color: black; 
}

.china_button_location {
    position: absolute;
    top: 50%;
    left: 50%;  
    color: black; 
    background-color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

@keyframes petra_text {
    0% { transform: translateY(0) scale(1.0) rotate(0deg); opacity: 1; }
    25% { transform: translateY(100px) scale(1.0) rotate(5deg); opacity: 0.7; } 
    50% { transform: translateY(0) scale(1.0) rotate(0deg); opacity: 1; }
    75% { transform: translateY(100px) scale(1.0) rotate(-5deg); opacity: 0.7; }
    100% { transform: translateY(0) scale(1.0) rotate(0deg); opacity: 1; }
  }

.petra_text {
    animation: petra_text 0.75s infinite;
    border-radius: 50px;
    padding: 20px; 
    background-color: white;
    width: 95%;
    margin: 1% 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: center; 

}

.no-link-style {
    color: black !important; 
    text-decoration: none;
}

@keyframes petra_image_animation {
    0% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(270deg);}

}
.petra_class {
    position: absolute; 
    top: 50%;
    left: 30%;
    border-radius: 60px;
    padding: 20px;
    margin: 1% 1%;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: petra_image_animation 0.0001s infinite; 
    
}

@keyframes moveLeftToRight {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.navbar {
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-top: 2px solid #333;
    transition: background-color 0.3s ease;
}

@keyframes colosseum_animation {
    0% { transform: translateX(20px); }
    25% {transform: translateX(40px)}
    50% { transform: translateX(60px); }
    75% {transform: translateX(80px)}
    100% { transform: translateX(100px); }
}

.colosseum_intro { 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 1% 1%;
    animation: colosseum_animation  1s infinite;
}

.colosseum_history {
    position: absolute; 
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 1% 1%;
    animation: colosseum_animation  1s infinite;
}

.colosseum_architecture {
    position: absolute; 
    top: 16%;
    left: 39%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 1% 1%;
    animation: colosseum_animation  1s infinite;
}

.colosseum_events {
    position: absolute; 
    top: 65%;
    left: 12%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 1% 1%;
    animation: colosseum_animation  1s infinite;
}

.colosseum_modern {
    position: absolute; 
    top: 42%;
    left: 5%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 1% 1%;
    animation: colosseum_animation  1s infinite;
}

.bright-yellow { 
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-stretch: expanded;
    font-size: 20px;
    background-color: black; 

}

.bright-yellow:hover {
    color: black;
    background-color: yellow;
    font-size: 24px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-display: swap;
    
}

.christ-main {
    background-color: white;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    color: white; 
}

@keyframes expanding_text {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1.0); }
}

.christ-main:hover {
    background-color: black;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    color: white; 
    animation: colosseum_animation  0.25s infinite, expanding_text 0.1s infinite;
}

.christ-main:active {
    animation: none !important; 
}

@keyframes moving_down {
    0% { transform: translateY(0); }
    50% { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

.machu-box { 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1% 1%;
    display: center; 
    place-items: center;
    animation: moving_down 4s infinite;
}

.machu-box:hover {

    transform: scale(1.1); 
    animation: colosseum_animation  0.1s infinite, expanding_text 0.1s infinite;


}