
body {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #6A0DAD; 
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

.server-ip {
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    border: 3px solid #FFFFFF; 
    border-radius: 8px;
    transition: background 0.3s ease, color 0.3s ease;
}

.server-ip:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #4B0082; 
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    margin: 20px auto;
    width: 200px; 
    height: auto;
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    background-color: #9B30FF; 
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    padding: 15px 30px;
    border: 3px solid #FFFFFF; 
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s, border-color 0.3s;
}

.tos {
    display: block;
    margin: 20px auto 0;
    width: fit-content;
}

.button:hover {
    background-color: #B57EDC;
    border-color: #FFD700;
    transform: scale(1.1);
}
